@media only screen and (min-width: 514px) {
    /* For tablets: */
    main {
        display: inline-block;
        width: 100%;
    }
    aside {
        /*float: right;*/
        width: 100%;
    }
    .col-5 {
        display: inline-block;
        width: 48%;
    }
    .col-10 {
        display: inline-block;
        width: 100%;
        margin-top: 10px;
        padding-left: 1%;
    }
    .col-s {
        padding-left: 1%;
    }
}

@media only screen and (min-width: 1350px) {
    /* For desktop: */
    main {
        display: inline-block;
        width: 65%;
    }
    aside {
        float: right;
        width: 30%;
    }
    .col-5 {
        display: inline-block;
        width: 48%;
    }
    .col-10 {
        display: inline-block;
        width: 100%;
        margin-top: 10px;
        padding-left: 1%;
    }
    .col-s {
        padding-left: 1%;
    }
}

.obligatorio {
    color: red;
}

.datos .col-5 label {
    display: inline-block;
    margin: 5px 0;
}

.datos .col-5 input {
    display: block;
    width: 95%;
}

.bloque {
    display: block;
    margin-bottom: 5px;
}

#departamento {
    width: 97%;
}

#comentario {
    width: 95.5%;
}

.boton-i {
    display: inline-block;
    width: 49%;
    margin: 10px 0;
}

.boton-i input {
    margin-left: 5px;
}

.boton-l {
    display: inline-block;
    width: 50%;
    text-align: right;
    margin: 10px 0;
}

aside table {
    width: 100%;
}

aside table thead tr th {
    width: 24%;
}

aside table tbody tr td a {
    background: #3F95E0;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

.mayus {
    text-transform: uppercase;
}

input:required {
    background-color: rgb(233, 143, 143);
}

input:valid {
    background-color: rgb(255, 255, 255);
}