@media only screen and (min-width: 514px) {
    /* Tablets: */
    main {
        display: inline-block;
        width: 100%;
    }
    .col-5 {
        display: inline-block;
        width: 48%;
    }
    .col-10 {
        display: inline-block;
        width: 100%;
        margin-top: 10px;
        padding-left: 1%;
    }
    .col-s {
        padding-left: 1%;
    }
}

@media only screen and (min-width: 1350px) {
    /* Escritorio: */
    main {
        display: inline-block;
        width: 65%;
    }
    .col-5 {
        display: inline-block;
        width: 48%;
    }
    .col-10 {
        display: inline-block;
        width: 100%;
        margin-top: 10px;
        padding-left: 1%;
    }
    .col-s {
        padding-left: 1%;
    }
}

.datos .col-5 label {
    display: inline-block;
    margin: 5px 0;
}

.datos .col-5 input {
    display: block;
    width: 95%;
}

.bloque {
    display: block;
    margin-bottom: 5px;
}

#departamento {
    width: 97%;
}

#comentario {
    width: 95.5%;
}

.boton-i {
    display: inline-block;
    width: 49%;
    margin: 10px 0;
}

.boton-i input {
    margin-left: 5px;
}

.boton-l {
    display: inline-block;
    width: 50%;
    text-align: right;
    margin: 10px 0;
}

.mayus {
    text-transform: uppercase;
}

.obligatorio {
    color: red;
}

#estado {
    width: 98.5%;
}