body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 75%;
}

#logo {
    float: left;
    background-size: 100% 100%;
    height: 50px;
    width: 125px;
    margin-top: 10px;
}

header {
    background: #85c7ab;
    margin: 0 auto;
    height: 75px;
    padding: 0 15px;
    overflow: hidden;
}

header div ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

header div ul li {
    display: inline-block;
    padding: 30px 0;
}

header div ul li a,
header div ul li:last-child a {
    margin-right: 15px;
    display: block;
    color: #505961;
    text-decoration: none;
    transition: all linear .5s .1s;
}

header div ul li a:hover {
    background: #3F95E0;
    border: 5px solid #3F95E0;
    border-radius: 10px;
    color: #fff;
}


/* Agrego img en css para que no se imprima a la hora de imprimir */

#inicio {
    float: left;
    background: url('../img/inicio.png') no-repeat;
    background-size: 100% 100%;
    height: 1em;
    width: 1em;
    margin-right: 1em;
}

#alta {
    float: left;
    background: url('../img/formulario.png') no-repeat;
    background-size: 100% 100%;
    height: 1em;
    width: 1em;
    margin-right: 1em;
}

#wiki {
    float: left;
    background: url('../img/faq.png') no-repeat;
    background-size: 100% 100%;
    height: 1em;
    width: 1em;
    margin-right: 1em;
}

@media only screen and (min-width: 514px) {
    /* Tablets: */
    main {
        display: inline-block;
        width: 100%;
    }
    aside {
        width: 100%;
    }
}

@media only screen and (min-width: 1350px) {
    /* Escritorio: */
    main {
        display: inline-block;
        width: 65%;
        min-height: 450px;
    }
    aside {
        float: right;
        width: 30%;
        min-height: 450px;
    }
}

nav {
    margin: 1rem;
}

#banner {
    margin: 1rem;
    width: 95%;
    height: 150px;
}

footer p {
    padding: 1rem;
    height: 2rem;
    background: #85c7ab;
    text-align: center;
    color: white;
}

.mayus {
    text-transform: uppercase;
}