body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 75%;
}

#logo {
    float: left;
    background: url('../img/banner.png') no-repeat;
    background-size: 100% 100%;
    height: 50px;
    width: 125px;
    margin-top: 10px;
}

header {
    background: #85c7ab;
    margin: 0 auto;
    height: 75px;
    padding: 0 15px;
    overflow: hidden;
}

header div ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

header div ul li {
    display: inline-block;
    padding: 30px 0;
}

header div ul li a,
header div ul li:last-child a {
    margin-right: 15px;
    display: block;
    color: #505961;
    text-decoration: none;
    transition: all linear 1s .5s;
}

header div ul li a:hover {
    background: #3F95E0;
    border-radius: 10px;
    color: #fff;
}

nav {
    margin: 1rem;
}

#banner {
    margin: 1rem;
    background: url('../img/banner.png') no-repeat;
    background-size: 100% 100%;
    height: 200px;
}

footer p {
    padding: 1rem;
    height: 2rem;
    background: #85c7ab;
    text-align: center;
    color: white;
}